$black: black;
$white: white;
$box_shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
$box_shadow_header: -5px 7px 21px -3px rgba(0,0,0,0.2);
$dropdown-hover: #f0f0f0;

$dark-bg: #202C36;
$dark-text: #FFFFFF;
$dark-flag-box-bg: #2B3844;
$dark-dropdown-hover: #0f0f0f;